---
interface LinkButton {
  text: string;
  href: string;
}

const { links } = Astro.props;
---

<ul class="flex gap-20">
  {
    links.map((link: LinkButton) => (
      <li>
        <a class="text-sm" href={link.href}>
          {link.text}
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
  }
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
