<div class="relative container-image">
  <img
    src="/section4-home.jpeg"
    alt={"Malverde"}
    class="object-cover rounded-xl"
  />
  <div class="card-container">
    <div class="card flex flex-col items-center text-center">
      <p class="border-b-slate-900 border-b-2 pb-4">Personalizado para</p>
      <img src="/malverde-logo.png" alt="Maverde" class="w-24 mt-4" />
      <p class="font-normal mt-4">MALVERDE <br /> Barrio Bistro</p>
      <ul class="text-left text-sm">
        <li>Limpieza y mantenimiento de equipo de <br /> sonido ambiental.</li>
        <li>Asesoramiento para adquisición de equipos..</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .container-image {
    height: 60vh;
    width: 60vh;
  }
  ul {
    list-style-type: disc;
    margin-top: 20px;
  }
  .card {
    max-width: 170px;
  }
  .card-container {
    position: absolute;
    bottom: -120px;
    left: -150px;
    padding: 10px 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
