<section class="flex gap-11">
  <div>
    <img src="/malverde-section4-home.png" alt={"Malverde"} width="1000px" />
  </div>
  <div>
    <h3>Nuestros servicios</h3>
    <p class="font-bold text-4xl leading-snug">
      Cuéntanos tus necesidades, Nosotros te ayudamos.
    </p>
    <p>
      Todos tienen necesidades distintas. <br /> Permite que <strong
        >TECSOUND</strong
      > te guíe en una solución personalizada y enfocada en tus necesidades.
    </p>
    <button>Contáctanos!</button>
  </div>
</section>

<style>
  section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  button {
    background-color: #272727;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    margin-top: 20px;
  }
  button:hover {
    background-color: #3a3a3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>
